USE [master]
GO
/****** Object:  Database [api]    Script Date: 2/12/2018 5:52:20 p. m. ******/
CREATE DATABASE [api]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'api', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\api.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'api_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\api_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [api].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [api]
GO
/****** Object:  Table [dbo].[actualizacionEstado]    Script Date: 2/12/2018 5:52:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[actualizacionEstado](
	[idActualizacionEstado] [int] IDENTITY(1,1) NOT NULL,
	[idReclamo] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[empleadoNombreUsr] [varchar](50) NOT NULL,
 CONSTRAINT [pk_actualizacionEstado] PRIMARY KEY CLUSTERED 
(
	[idActualizacionEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 2/12/2018 5:52:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[clientes](
	[nombre] [varchar](50) NOT NULL,
	[domicilio] [varchar](50) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[dniCuit] [int] NOT NULL,
	[email] [varchar](50) NOT NULL,
 CONSTRAINT [pk_clientes] PRIMARY KEY CLUSTERED 
(
	[dniCuit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 2/12/2018 5:52:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[empleados](
	[nombreUsr] [varchar](50) NOT NULL,
	[keyword] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[nroLU] [int] NULL,
	[fechaNacim] [date] NOT NULL,
	[idRolOriginal] [int] NOT NULL,
	[idRolTemporal] [int] NULL,
 CONSTRAINT [pk_empleados] PRIMARY KEY CLUSTERED 
(
	[nombreUsr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[facturas]    Script Date: 2/12/2018 5:52:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[facturas](
	[numero] [int] NOT NULL,
	[tipo] [varchar](10) NOT NULL,
	[fecha] [date] NOT NULL,
	[codItemFacturas] [int] NULL,
	[total] [float] NOT NULL,
	[dniCuitCliente] [int] NOT NULL,
 CONSTRAINT [pk_facturas] PRIMARY KEY CLUSTERED 
(
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[itemFacturas]    Script Date: 2/12/2018 5:52:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[itemFacturas](
	[codItemFacturas] [int] IDENTITY(1,1) NOT NULL,
	[idFacturas] [int] NULL,
	[productoCodigoPublicacion] [int] NOT NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [pk_itemFacturas] PRIMARY KEY CLUSTERED 
(
	[codItemFacturas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[probando]    Script Date: 2/12/2018 5:52:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[probando](
	[id] [uniqueidentifier] NULL,
	[numero] [int] NOT NULL,
 CONSTRAINT [pk_numero] PRIMARY KEY CLUSTERED 
(
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[productos]    Script Date: 2/12/2018 5:52:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[productos](
	[codigoPublicacion] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[precio] [float] NULL,
 CONSTRAINT [pk_productos] PRIMARY KEY CLUSTERED 
(
	[codigoPublicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[productosReclamos]    Script Date: 2/12/2018 5:52:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productosReclamos](
	[idReclamo] [int] NOT NULL,
	[productoCodigoPublicacion] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [pk_productosReclamos] PRIMARY KEY CLUSTERED 
(
	[productoCodigoPublicacion] ASC,
	[Cantidad] ASC,
	[idReclamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[reclamos]    Script Date: 2/12/2018 5:52:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[reclamos](
	[idReclamo] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[estados] [varchar](50) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[fechaFacturacion] [date] NULL,
	[nroFactura] [int] NULL,
	[zona] [varchar](50) NULL,
	[clienteDniCuit] [int] NOT NULL,
	[empleadoNomUsr] [varchar](50) NOT NULL,
	[compuesto] [varchar](50) NULL,
 CONSTRAINT [pk_reclamos] PRIMARY KEY CLUSTERED 
(
	[idReclamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[roles]    Script Date: 2/12/2018 5:52:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[roles](
	[idRoles] [int] NOT NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [pk_roles] PRIMARY KEY CLUSTERED 
(
	[idRoles] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[actualizacionEstado] ON 

INSERT [dbo].[actualizacionEstado] ([idActualizacionEstado], [idReclamo], [fecha], [descripcion], [estado], [empleadoNombreUsr]) VALUES (1, 7, CAST(0xF63E0B00 AS Date), N'prueba', N'Registrado', N'juan')
INSERT [dbo].[actualizacionEstado] ([idActualizacionEstado], [idReclamo], [fecha], [descripcion], [estado], [empleadoNombreUsr]) VALUES (2, 11, CAST(0xFF3E0B00 AS Date), N'prueba', N'Registrado', N'laura')
SET IDENTITY_INSERT [dbo].[actualizacionEstado] OFF
INSERT [dbo].[clientes] ([nombre], [domicilio], [telefono], [dniCuit], [email]) VALUES (N'emanuel', N'Av.Las Heras', N'011155859642', 1000001, N'emanuel@mail.com')
INSERT [dbo].[clientes] ([nombre], [domicilio], [telefono], [dniCuit], [email]) VALUES (N'emanuela', N'Av.9 de Julio', N'011155330902', 1000002, N'emanuela@mail.com')
INSERT [dbo].[clientes] ([nombre], [domicilio], [telefono], [dniCuit], [email]) VALUES (N'jorge', N'irigoyen', N'02920155179482', 1000003, N'jorge@mail.com')
INSERT [dbo].[empleados] ([nombreUsr], [keyword], [nombre], [nroLU], [fechaNacim], [idRolOriginal], [idRolTemporal]) VALUES (N'ana', N'789', N'ana', 3, CAST(0xC7150B00 AS Date), 3, 3)
INSERT [dbo].[empleados] ([nombreUsr], [keyword], [nombre], [nroLU], [fechaNacim], [idRolOriginal], [idRolTemporal]) VALUES (N'juan', N'123', N'juan', 1, CAST(0x92080B00 AS Date), 4, 4)
INSERT [dbo].[empleados] ([nombreUsr], [keyword], [nombre], [nroLU], [fechaNacim], [idRolOriginal], [idRolTemporal]) VALUES (N'laura', N'101', N'laura', 4, CAST(0x4A040B00 AS Date), 2, 1)
INSERT [dbo].[facturas] ([numero], [tipo], [fecha], [codItemFacturas], [total], [dniCuitCliente]) VALUES (1, N'A', CAST(0x953E0B00 AS Date), 1, 1400000, 1000001)
INSERT [dbo].[facturas] ([numero], [tipo], [fecha], [codItemFacturas], [total], [dniCuitCliente]) VALUES (2, N'B', CAST(0x963E0B00 AS Date), 2, 610400, 1000001)
INSERT [dbo].[facturas] ([numero], [tipo], [fecha], [codItemFacturas], [total], [dniCuitCliente]) VALUES (3, N'B', CAST(0x233E0B00 AS Date), 3, 800000, 1000002)
SET IDENTITY_INSERT [dbo].[itemFacturas] ON 

INSERT [dbo].[itemFacturas] ([codItemFacturas], [idFacturas], [productoCodigoPublicacion], [cantidad]) VALUES (1, 1, 1, 2)
INSERT [dbo].[itemFacturas] ([codItemFacturas], [idFacturas], [productoCodigoPublicacion], [cantidad]) VALUES (2, 2, 4, 1)
INSERT [dbo].[itemFacturas] ([codItemFacturas], [idFacturas], [productoCodigoPublicacion], [cantidad]) VALUES (3, 3, 2, 1)
SET IDENTITY_INSERT [dbo].[itemFacturas] OFF
INSERT [dbo].[probando] ([id], [numero]) VALUES (N'6e07a3ad-db43-47b5-aec0-e8267ca815eb', 1)
INSERT [dbo].[probando] ([id], [numero]) VALUES (N'6e07a3ad-db43-47b5-aec0-e8267ca815eb', 2)
INSERT [dbo].[probando] ([id], [numero]) VALUES (NULL, 3)
SET IDENTITY_INSERT [dbo].[productos] ON 

INSERT [dbo].[productos] ([codigoPublicacion], [titulo], [descripcion], [precio]) VALUES (1, N'Ford Focus', N'0km', 700000)
INSERT [dbo].[productos] ([codigoPublicacion], [titulo], [descripcion], [precio]) VALUES (2, N'Chevrolet Cruze', N'0km', 800000)
INSERT [dbo].[productos] ([codigoPublicacion], [titulo], [descripcion], [precio]) VALUES (3, N'Renault Sandero', N'80000km', 300800)
SET IDENTITY_INSERT [dbo].[productos] OFF
INSERT [dbo].[productosReclamos] ([idReclamo], [productoCodigoPublicacion], [Cantidad]) VALUES (9, 1, 2)
INSERT [dbo].[productosReclamos] ([idReclamo], [productoCodigoPublicacion], [Cantidad]) VALUES (10, 3, 4)
SET IDENTITY_INSERT [dbo].[reclamos] ON 

INSERT [dbo].[reclamos] ([idReclamo], [fecha], [descripcion], [estados], [tipo], [fechaFacturacion], [nroFactura], [zona], [clienteDniCuit], [empleadoNomUsr], [compuesto]) VALUES (6, CAST(0xF23E0B00 AS Date), N'competidor detectado', N'Registrado', N'zona', NULL, NULL, N'Recoleta', 1000001, N'juan', N'6-12-')
INSERT [dbo].[reclamos] ([idReclamo], [fecha], [descripcion], [estados], [tipo], [fechaFacturacion], [nroFactura], [zona], [clienteDniCuit], [empleadoNomUsr], [compuesto]) VALUES (7, CAST(0xF23E0B00 AS Date), N'comenzando a tratar', N'Cerrado', N'facturacion', CAST(0xC73E0B00 AS Date), 1010, NULL, 1000002, N'laura', NULL)
INSERT [dbo].[reclamos] ([idReclamo], [fecha], [descripcion], [estados], [tipo], [fechaFacturacion], [nroFactura], [zona], [clienteDniCuit], [empleadoNomUsr], [compuesto]) VALUES (9, CAST(0xF53E0B00 AS Date), N'falla', N'Registrado', N'producto', NULL, NULL, NULL, 1000002, N'juan', NULL)
SET IDENTITY_INSERT [dbo].[reclamos] OFF
INSERT [dbo].[roles] ([idRoles], [descripcion]) VALUES (1, N'responsableFacturacion')
INSERT [dbo].[roles] ([idRoles], [descripcion]) VALUES (2, N'responsableDistribucion')
INSERT [dbo].[roles] ([idRoles], [descripcion]) VALUES (3, N'responsableZonas')
ALTER TABLE [dbo].[actualizacionEstado]  WITH CHECK ADD  CONSTRAINT [fk_actualizacionEstado] FOREIGN KEY([idReclamo])
REFERENCES [dbo].[reclamos] ([idReclamo])
GO
ALTER TABLE [dbo].[actualizacionEstado] CHECK CONSTRAINT [fk_actualizacionEstado]
GO
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD  CONSTRAINT [fk_empleados1] FOREIGN KEY([idRolOriginal])
REFERENCES [dbo].[roles] ([idRoles])
GO
ALTER TABLE [dbo].[empleados] CHECK CONSTRAINT [fk_empleados1]
GO
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD  CONSTRAINT [fk_empleados2] FOREIGN KEY([idRolTemporal])
REFERENCES [dbo].[roles] ([idRoles])
GO
ALTER TABLE [dbo].[empleados] CHECK CONSTRAINT [fk_empleados2]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [fk_facturas] FOREIGN KEY([codItemFacturas])
REFERENCES [dbo].[itemFacturas] ([codItemFacturas])
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [fk_facturas]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [pk_facturas2] FOREIGN KEY([dniCuitCliente])
REFERENCES [dbo].[clientes] ([dniCuit])
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [pk_facturas2]
GO
ALTER TABLE [dbo].[itemFacturas]  WITH CHECK ADD  CONSTRAINT [fk_itemFacturas] FOREIGN KEY([productoCodigoPublicacion])
REFERENCES [dbo].[productos] ([codigoPublicacion])
GO
ALTER TABLE [dbo].[itemFacturas] CHECK CONSTRAINT [fk_itemFacturas]
GO
ALTER TABLE [dbo].[productosReclamos]  WITH CHECK ADD  CONSTRAINT [fk_prodcutosReclamos2] FOREIGN KEY([productoCodigoPublicacion])
REFERENCES [dbo].[productos] ([codigoPublicacion])
GO
ALTER TABLE [dbo].[productosReclamos] CHECK CONSTRAINT [fk_prodcutosReclamos2]
GO
ALTER TABLE [dbo].[productosReclamos]  WITH CHECK ADD  CONSTRAINT [fk_productosReclamos1] FOREIGN KEY([idReclamo])
REFERENCES [dbo].[reclamos] ([idReclamo])
GO
ALTER TABLE [dbo].[productosReclamos] CHECK CONSTRAINT [fk_productosReclamos1]
GO
ALTER TABLE [dbo].[reclamos]  WITH CHECK ADD  CONSTRAINT [fk_reclamos1] FOREIGN KEY([clienteDniCuit])
REFERENCES [dbo].[clientes] ([dniCuit])
GO
ALTER TABLE [dbo].[reclamos] CHECK CONSTRAINT [fk_reclamos1]
GO
ALTER TABLE [dbo].[reclamos]  WITH CHECK ADD  CONSTRAINT [fk_reclamos2] FOREIGN KEY([empleadoNomUsr])
REFERENCES [dbo].[empleados] ([nombreUsr])
GO
ALTER TABLE [dbo].[reclamos] CHECK CONSTRAINT [fk_reclamos2]
GO
USE [master]
GO
